<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seconda Milestone</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
    
        <div id="app">

            <header>
                <nav>
                    <div class="navbar">
                        <i class="fab fa-spotify"></i>
                        <div class="selection-box">
                            <select name="genre" v-model="genre">
                                <option value="">Tutti</option>
                                <option value="Pop">Pop</option>
                                <option value="Jazz">Jazz</option>
                                <option value="Rock">Rock</option>
                                <option value="Metal">Metal</option>
                            </select>
                            <button type="button" name="button" @click="filter">Cerca</button>
                        </div>
                    </div>
                </nav>
            </header>

            <main>            
                <div class="custom-container">
                    <div v-for="disc in discs" class="disc">
                        <div class="disc-img">
                            <img :src="disc.poster" alt="Album Cover">
                        </div>
                        <div class="disc-info">
                            <div class="disc-title">{{disc.title}}</div>
                            <div class="disc-author">{{disc.author}}</div>
                            <div class="disc-year">{{disc.year}}</div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script src="js/script.js"></script>    
    </body>
</html>