* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    padding: 10px;
    align-items: center;
    height: 50px;
    background-color: #2e3a46;
}

.fa-spotify {
    color: greenyellow;
    font-size: 30px;

}

main {
    background-color: #1e2d3b;
    height: 100vh;
}


.custom-container {
    width: 70%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.disc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #2e3a46;
    border-radius: 4px;
    width: calc(20% - 15px);
    height: 300px;
    padding: 5px;
    margin-bottom: 20px;
}

.disc .disc-img img {
    width: 124px; /* 20% */
}

.disc .disc-info .disc-title {
    color: white;
    margin: 15px 0;
    font-size: 15px;
}

.disc .disc-info .disc-author, .disc-year {
    color: gray;
}